/*
    Contains CSS for the main page
*/

Header {
    position: absolute;
    offset-y: 2;
    text-align: center;
}

#button-container {
    align: center middle; 
}

Vertical {
    border: solid white;
    width: 80%;
    height: auto;
}

Button {
    text-style: bold;
    background: transparent;
    border: none;
    width: 100%
}

Button:focus {
    background: white;
    color: black;
}
