Screen {
    align: center middle;
}

#friends-button-container {
    align: center middle;
    width: auto;
    height: auto;
}

#friends-button-container Button {
    width: 50;
}

VerticalScroll {
    width: 50;
    height: 5;
    border: solid white

}

VerticalScroll Button {
    align: left middle;
}

#new-friends-button {
    width: 10
}